{% extends "base.html" %}
{% block other %}
    <style>
        body{
            background-color: #fafcff
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 15px solid #fafcff;
            margin: 1em 0;
            padding: 0;
        }
    </style>

    <?php
    $colour = 'green';

    if {{individual.vaccination_status}} == 'Pending' {
        $colour = 'red';
    } else {
        $colour = 'green';
    }
{% endblock %}

{% block content %}
    <div class="forWeb">
        <h1 style="color: #e89442; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 40px; margin-left: 30px; padding-top: 10px">DASHBOARD</h1>
        <div style="text-indent: 30px;
        font-family: 'Lato', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 40px;
        height: auto;
        margin: auto;
        width: 92%;
        border-radius: 5px;
        outline: none;
        background: #f6f7f9;">
            <h3>Address: {{registrant.address.get_formatted_address}}</h3>
            <h3>LGU: {{registrant.lgu.name}}</h3>
            <div id="content">
                {% csrf_token %}
                <hr>
                {% for individual in individuals %}
                <div>
                    <h3>{{individual.get_full_name}}</h3>
                    <p>Age: <span style="color: #e89442; font-weight: 700">{{individual.get_age}} Years Old</span></p>
                    <p>Sex: <span style="color: #e89442; font-weight: 700">{{individual.sex_assigned_at_birth}}</span></p>
                    <p>Mobile Number: <span style="color: #e89442; font-weight: 700">{{individual.mobile_number}}</span></p>
                    <p>Registration Status: <span style="color: #e89442; font-weight: 700">{{individual.get_registration_status_display}}</span></p>
                    <p>Vaccination Status: <span style="color: #e89442; font-weight: 700">{{individual.vaccination_status}}</span></p>
                    <p>Vaccination Site: <span style="color: #e89442; font-weight: 700">{{individual.vaccination_site.name}}</span></p>
                    <p>Vaccination Date: <span style="color: #e89442; font-weight: 700">{{individual.first_vaccination_datetime}}</span></p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
