{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Vaccuna | Dashboard</title>
            <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        body{
            background-color: #fafcff
        }

        .styling {
            text-indent: 30px;
            font-family: 'Lato', sans-serif;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 40px;
            height: auto;
            margin: auto;
            width: 92%;
            border-radius: 5px;
            outline: none;
            background: #f6f7f9;
        }

    </style>
  <body>
  <div class="forWeb">
      <div class="wrapper">
    <h1 style="color: #e89442; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 40px; margin-left: 10px; padding-top: 10px">{{obj.name}} Dashboard</h1>
    <div class="styling">
    <h3>Total Registrants: {{obj.individuals.all.count}}</h3>
        </div>
    <h3 class="styling" style="margin-top: 10px">Vaccinated (Complete): {{fully_vaccinated}}</h3>
    <h3 class="styling" style="margin-top: 10px">Vaccinated (First Dose): {{first_dose}}</h3>
      <div class="styling" style="margin-top: 10px">
    <h2>Vaccination Sites</h2>
    <a href="vaccination-site/create">Create</a>
    <div class="vaccination-sites">
      <table .table-responsive">
          <tr>
              <th>Name</th>
              <th>Daily Capacity</th>
              <th>Registrants</th>
              <th>Actions</th>

          </tr>
          {% for vs in obj.vaccination_sites.all %}
          <tr>
              <td>{{vs.name}}</td>
              <td>{{vs.daily_capacity}}</td>
              <td>{{vs.individuals.all.count}}</td>
              <td>
                <a href="/lgu/{{obj.pk}}/vaccination-site/update/{{vs.id}}">Update</a>
                <a href="/lgu/{{obj.pk}}/vaccination-site/delete/{{vs.id}}">Delete</a>
              </td>

          </tr>
          {% endfor %}
      </table>
    </div>
</div>
    <h2>Priority Locations</h2>
    <a href="priority-location/create">Create</a>
    <div class="priority-locations">
      <table>
          <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Actions</th>
          </tr>
          {% for pl in obj.priority_locations.all %}
          <tr>
              <td>{{pl.name}}</td>
              <td>{{pl.address.barangay}}</td>
              <td>
                <a href="/lgu/{{obj.pk}}/vaccination-site/update/{{pl.id}}">Update</a>
                <a href="">Delete</a>
              </td>
          </tr>
          {% endfor %}
      </table>
    </div>
    {% load static %}
    {% load widget_tweaks %}
<!--          <iframe src="maps/{% static "" %}maps/maps/{{obj.filename}}" style="width: 90%; height: 50em; display: block; margin-left: auto;margin-right: auto;" title="Google Maps"></iframe> -->
              </div>
    </div>
  </div>
  </body>
</html>
