{% extends "base.html" %}
 {% block other %}
    <style>
        body{
            background-color: #fafcff
        }

        .screen{
            width: 50%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }

        .styling {
            font-family: 'Lato', sans-serif;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 40px;
            height: auto;
            margin: auto;
            width: 92%;
            border-radius: 5px;
            outline: none;
            background: #f6f7f9;
        }

        .content-table {
            border-collapse: collapse;
            width: 92%;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
        }

        .content-table thead tr{
            background-color: #e8a05a;
            color: #fff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 3px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .content-table tbody tr:nth-of-type(even){
            background-color: #f3f3f3;
        }

        .content-table tbody tr:last-of-type{
            border-bottom: 2px solid #e8a05a
        }

        .button {
          background-color: #52bbe8;
          border: none;
          border-radius: 5px;
          color: white;
          padding: 5px 12px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }

        .button1 {
          background-color: #cacaca;
          border: none;
          border-radius: 5px;
          color: white;
          padding: 5px 12px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
    </style>
{% endblock %}
{% block content %}
  <div class="screen">
      <div class="wrapper">
    <h1 style="color: #e89442; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 40px; margin-left: auto; margin-right: auto; padding-top: 10px; width: 92%; padding-bottom: 20px">{{obj.name}} Dashboard</h1>
    <div class="styling">
    <h3 style="margin-left: auto; margin-right: auto; width: 92%">Total Registrants: {{obj.individuals.all.count}}</h3>
    </div>
    <div class="styling" style="margin-top: 10px">
    <h3 style="margin-left: auto; margin-right: auto; width: 92%">Vaccinated (Complete): {{fully_vaccinated}}</h3>
    </div>
    <div class="styling" style="margin-top: 10px">
    <h3 class="styling" style="margin-left: auto; margin-right: auto; width: 92%">Vaccinated (First Dose): {{first_dose}}</h3>
    </div>
  <div class="styling" style="margin-top: 10px;">
    <div style="margin-left: auto; margin-right: auto; width: 92%">
        <h2 style="float: Left">Vaccination Sites</h2>
        <a class="button "href="vaccination-site/create" style="float: right">Create</a>
    </div>
    <div class="vaccination-sites" style="margin-top: 50px;margin-top: 60px;">
      <table class="content-table">
          <thead>
            <tr>
                <th>Name</th>
                <th>Daily Capacity</th>
                <th>Registrants</th>
                <th>Actions</th>
            </tr>
          </thead>

          {% for vs in obj.vaccination_sites.all %}
          <tr>
              <td>{{vs.name}}</td>
              <td>{{vs.daily_capacity}}</td>
              <td>{{vs.individuals.all.count}}</td>
              <td>
                <a class="button" href="/lgu/{{obj.pk}}/vaccination-site/update/{{vs.id}}">Update</a>
                <a class="button1" href="/lgu/{{obj.pk}}/vaccination-site/delete/{{vs.id}}">Delete</a>
                <a class="button" href="/lgu/{{obj.pk}}/vaccination-site/{{vs.id}}">Registrants</a>
              </td>

          </tr>
          {% endfor %}
      </table>
    </div>
</div>
  <div class="styling" style="margin-top: 10px;">
    <div style="margin-left: auto; margin-right: auto; width: 92%">
        <h2 style="float: left">Priority Locations</h2>
        <a class="button" style="float: right" href="priority-location/create">Create</a>
    </div>
  <div style="margin-top: 50px;margin-top: 60px">
      <table class="content-table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Actions</th>
              </tr>
          </thead>
          {% for pl in obj.priority_locations.all %}
          <tr>
              <td>{{pl.name}}</td>
              <td>{{pl.address.barangay}}</td>
              <td>
                <a class="button" href="/lgu/{{obj.pk}}/vaccination-site/update/{{pl.id}}">Update</a>
                <a class="button1" href="">Delete</a>
              </td>
          </tr>
          {% endfor %}
      </table>
    </div>
        <div style="margin-left: auto; margin-right: auto; width: 92%">
        <h2 style="float: Left">Map of Registrants</h2>
        <br>
        <p>Legend:</p>
        <p style="color: red">Vaccination Sites</p>
        <p style="color: cornflowerblue">Registrants</p>
    </div>
  </div>
    </div>
  </div>
      {% load static %}
    {% load widget_tweaks %}
         <iframe src="{% static "" %}media/maps/{{obj.filename}}" style="width: 100%; height: 50em; display: block; margin-left: auto;margin-right: auto;" title="Google Maps"></iframe>
{% endblock %}
