{% extends "base.html" %}
<!-- https://www.darwinbiler.com/jquery-ph-locations/ -->
{% block content %}
    {% block form %}
    {% endblock %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
        {% load static %}
        {% load widget_tweaks %}
        <script type="text/javascript" src="{% static 'ph-locations.js' %}"></script>
        <script type="text/javascript">

            var my_handlers = {

                fill_provinces:  function(){

                    var region_code = $(this).children(":selected").attr("code");
                    console.log(region_code);
                    $('#province').ph_locations('fetch_list', [{"region_code": region_code}]);

                },

                fill_cities: function(){

                    var province_code = $(this).children(":selected").attr("code");
                    console.log(province_code);
                    $('#city').ph_locations( 'fetch_list', [{"province_code": province_code}]);
                },


                fill_barangays: function(){

                    var city_code = $(this).children(":selected").attr("code");
                    $('#barangay').ph_locations('fetch_list', [{"city_code": city_code}]);
                }
            };

            $(function(){
                $('#region').on('change', my_handlers.fill_provinces);
                $('#province').on('change', my_handlers.fill_cities);
                $('#city').on('change', my_handlers.fill_barangays);

                $('#region').ph_locations({'location_type': 'regions'});
                $('#province').ph_locations({'location_type': 'provinces'});
                $('#city').ph_locations({'location_type': 'cities'});
                $('#barangay').ph_locations({'location_type': 'barangays'});

                $('#region').ph_locations('fetch_list');
            });

        $('#add_more').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

        </script>
{% endblock %}
