{% extends "lguForms.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vaccuna | Dashboard</title>
            <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
{% block content %}
    <h1>Add Vaccination Site</h1>
    <h2>{{lgu.name}}</h2>
    <div class="form-control">
        <form method="POST">
          {% csrf_token %}
          {{site_form.as_p}}
          {{address_form.as_p}}
          <input type="submit" value="Add Site"/>
        </form>
{% endblock content %}
    </div>
</body>
